body {
  font-family: Charter, Georgia, Times, serif;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.margin-0-auto {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  max-width: 1000px;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
}

.col-5 {
  flex-basis: 20%;
}

.col-4 {
  flex-basis: 25%;
}

.col3-10 {
  flex-basis: 30%;
}

.col-3 {
  flex-basis: calc(100% / 3); /* 33% */
}

.col-2 {
  flex-basis: 50%;
}

.col2-3 {
  flex-basis: 66%;
}

.col3-4 {
  flex-basis: 75%;
}

.col4-5 {
  flex-basis: 80%;
}

.col-1 {
  flex-basis: 100%;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.margin-10 {
  margin: 10px;
}

/* .logo {
  max-width: 250px;
  margin: 10px;
  cursor: pointer;
} */

.register {
  color: white;
  background-color: #f43939;
  padding: 7px 15px;
  border: 1px solid #f43939;
  border-radius: 5px;
  cursor: pointer;
}

.hero-img {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  opacity: 80%;
}

.hero-title {
  margin-top: 30px;
  margin-bottom: 35px;
  font-weight: 200;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: #f5f5f5;
}

.search-form {
  border: none;
  border-right: 1px solid grey;
  width: 45%;
}

.location-form {
  border: none;
  width: 30%;
  margin-left: 5px;
}

.location-form:focus,
.search-form:focus {
  outline: none;
}

.form-submit {
  border: none;
  background-color: white;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  padding-right: 5px;
  margin-top: 0;
}

.hr-line {
  margin-bottom: 0;
}

.result-box {
  width: 97%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.result-box:hover {
  box-shadow: 0 1px 5px rgb(106, 104, 104), inset 0 0 9px white;
}

.result-img {
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
}

.user-img {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
}

.rest-name-results {
  margin: 10px 10px 0;
}

.review-count {
  color: black;
  vertical-align: center;
  margin-left: 5px;
}

.react-stars {
  margin-top: 0;
  display: inline;
  margin-left: 10px;
}

/* .categories,
.search-categories {
  padding-left: 0;
  margin: 5px 0 0 10px;
} */

.search-categories > li {
  display: inline;
  margin-left: 5px;
  padding: 0 5px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #6e7072;

  /* font-size: 13px; */
}

.categories > li {
  display: inline;
  margin-right: 7px;
  padding: 0 5px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: white;
  color: #6e7072;
  font-size: 13px;
}

.filter-prices {
  background-color: #f43939;
  border: 1px solid #f43939;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.clicked-result-image {
  margin: 10px;
  width: 480px;
  height: 400px;
}

.clicked-result-hr {
  color: #ebebeb;
  margin: 50px 10px 0;
}

.location-title,
.hours-of-operation,
.recom-reviews-title {
  margin: 30px 10px 20px;
}

.white.bg {
  background-color: #fff;
}

.border-right {
  border-right: 1px solid #9a9a9a;
}

.which-day {
  padding-right: 30px;
}

.clock,
.location {
  color: #f43939;
  margin-right: 0;
}

.sign-up-form {
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  height: 370px;
  padding: 20px 50px;
}

.sign-in-form {
  border: 1px solid black;
  border-radius: 5px;
  width: 450px;
  height: 250px;
  padding: 20px 50px;
}

.sign-out,
.sign-up {
  margin-top: 10px;
  margin-right: 5px;
  color: white;
  background-color: #f43939;
  border: 1px solid #f43939;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.sign-in {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.welcome-title {
  margin: 0;
}

.vh100 {
  height: 80vh;
}

.form-labels {
  padding-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.popup-text {
  margin: 0 10px;
  padding: 0;
}

.popup-image {
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  object-fit: cover;
  margin: 0;
}

.pop-up-review-count {
  margin: 0 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.profile {
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.profile-name {
  margin-top: 5px;
  margin-bottom: 0;
}

.header-profile-img {
  border-radius: 50px;
  border: 1px solid black;
  margin-top: 2px;
  margin-right: 5px;
}

.card {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.picture-header {
  position: relative;
  width: 100%;
  height: 185px;
  background-color: #f5f5f5;
}

.picture-frame {
  position: absolute;
  left: 30px;
  top: 35px;
  z-index: 1;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #ccc;
  border: 5px solid #fff;
  cursor: pointer;
}

.profile-card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.edit-image-icon {
  position: absolute;
  top: 15px;
  right: 5px;
  color: #f43939;
}

.profile-card-name {
  font-family: sans-serif;
  position: relative;
  margin-top: 0;
  padding-top: 110px;
  margin-left: 250px;
  margin-bottom: 0;
}

.profile-review-count {
  margin-left: 250px;
  margin-top: 5px;
  font-size: 20px;
}

.profile-recent-reviews {
  margin-left: 40px;
  margin-top: 65px;
  margin-bottom: 5px;
}

.grey-line {
  border: 1px solid #e6e6e6;
  margin: 0 35px;
}

.image-input-form {
  margin-left: 250px;
  margin-top: 10px;
}

.choose-file-button {
  color: white;
  background-color: #f43939;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  margin-left: 0;
}

.hide-file-button {
  visibility: hidden;
}

.save-to-favorites {
  margin-top: 10px;
  color: #f43939;
  background-color: white;
  padding: 7px 15px;
  border: 1px solid #f43939;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
