body {
  font-family: Charter, Georgia, Times, serif;
  background-color: #f2f2f2;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
}

.col-5 {
  flex-basis: 20%;
}

.col-4 {
  flex-basis: 25%;
}

.col3-10 {
  flex-basis: 30%;
}

.col-3 {
  flex-basis: calc(100% / 3);
}

.col-2 {
  flex-basis: 50%;
}

.col2-3 {
  flex-basis: 66%;
}

.col3-4 {
  flex-basis: 75%;
}

.col4-5 {
  flex-basis: 80%;
}

.col-1 {
  flex-basis: 100%;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.margin-10 {
  margin: 10px;
}

.logo {
  max-width: 300px;
  margin: 10px;
  cursor: pointer;
}

.register {
  color: white;
  background-color: #f43939;
  padding: 7px 15px;
  border: 1px solid #f43939;
  border-radius: 5px;
  cursor: pointer;
}

.hero-img {
  margin-top: 0;
  width: 100%;
  height: 400px;
  opacity: 70%;
}

.hero-title {
  margin-top: 30px;
  margin-bottom: 35px;
  font-weight: 200;
  font-size: 35px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hero-search {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  border-radius: 5px;
}

.white-bg {
  background-color: white;
}

.search-form {
  border: none;
  border-right: 1px solid grey;
  width: 45%;
}

.location-form {
  border: none;
  width: 30%;
  margin-left: 5px;
}

.location-form:focus,
.search-form:focus {
  outline: none;
}

.form-submit {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-line {
  margin: 3px 30px;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.hr-line {
  margin-bottom: 0;
}

.result-box {
  width: 97%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.result-box:hover {
  box-shadow: 0 1px 5px rgb(106, 104, 104), inset 0 0 9px white;
}

.result-img {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
}

.user-img {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
}

.rest-name-results {
  margin: 10px 10px 0;
}

.review-count {
  color: black;
  vertical-align: sub;
  margin-left: 5px;
}

.react-stars {
  margin-top: 0;
  display: inline;
  margin-left: 10px;
}

.categories,
.search-categories {
  padding-left: 0;
  margin: 5px 0 0 10px;
}

.search-categories > li {
  display: inline;
  margin-right: 7px;
  padding: 0 5px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #6e7072;
  font-size: 13px;
}

.categories > li {
  display: inline;
  margin-right: 7px;
  padding: 0 5px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  background-color: white;
  color: #6e7072;
  font-size: 13px;
}

.filter-prices {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  width: 50px;
  background-color: #f43939;
  border: 1px solid #f43939;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.clicked-result-image {
  margin: 10px;
  width: 480px;
  height: 400px;
}

.clicked-result-hr {
  color: #ebebeb;
  margin: 50px 10px 0;
}

.location-title,
.hours-of-operation,
.recom-reviews-title {
  margin: 30px 10px 20px;
}

.white.bg {
  background-color: #fff;
}

.border-right {
  border-right: 1px solid #9a9a9a;
}

.which-day {
  padding-right: 30px;
}

.clock,
.location {
  color: #f43939;
  margin-right: 0;
}

.sign-up-form {
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  height: 40%;
  padding: 20px 50px;
}

.sign-in-form {
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  height: 25%;
  padding: 20px 50px;
}

.sign-up {
  margin-top: 10px;
  color: white;
  background-color: #f43939;
  padding: 7px 15px;
  border: 1px solid #f43939;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.sign-in {
  margin-top: 10px;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
}

.sign-in-instead {
  /* text-decoration: none; */
}

.welcome-title {
  margin: 0;
}

.vh100 {
  height: 80vh;
}

.form-labels {
  padding-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

/* text-decoration: none; */

/* text-decoration: none; */

/* text-decoration: none; */

/* text-decoration: none; */

/* text-decoration: none; */

.margin-top50 {
  margin-top: 70px;
}

.margin-top-10 {
  margin-top: 10px;
}
